:root {
    --globalPadding: 10px;
    --bgColorOne: #2185d5;
    --bgColorTwo: #202020;
    --bgColorThree: #505050;
    --bgColorInvalid: red;
    --bgColorValid: #4c8b55;

    --accentColorOne: orange;

    --lightColor: #f3f3f3;
    --darkColor: #222;


    --roundBorder: 10px;
    --circleBorder: 50%;
}
html, body, .container {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
    gap: var(--globalPadding);
}

.container > #header {
    grid-area: 1/1/2/10;
    background-color: var(--bgColorOne);
    padding: var(--globalPadding);
    color: var(--lightColor);
    border-bottom: var(--globalPadding) solid var(--accentColorOne);
}

#bookList {
    grid-area: 2/3/8/8;
    background-color: var(--bgColorThree);
    color: var(--lightColor);
}

#addBookDiv, #bookList {
    grid-area: 2/3/3/8;
    padding: var(--globalPadding);
    height: auto;
    border-radius: var(--roundBorder);
}

#bookList > h3 {
    text-align: center;
}



#bookList > div:first-child{
    display: flex;
    flex-direction: column;
    gap: var(--globalPadding);
}

#bookList > div {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-row: repeat(9, 1fr);
    gap: var(--globalPadding);
}

.book {
    margin-bottom: var(--globalPadding);
    background-color: var(--bgColorTwo);
    padding: var(--globalPadding);
    border-radius: var(--roundBorder);
}

#bookList > div > div > .notRead {
    background-color: var(--bgColorInvalid);

}

#bookList > div > div > .read {
    background-color: var(--bgColorValid);
}

#bookList > div > div:first-child{
    grid-area: 1/1/6/6;
}

#bookList > div > div:nth-child(2) {
    grid-area: 1/6/2/10;
    display: flex;
    flex-direction: column;
    gap: var(--globalPadding);
}

#bookList > div > div:nth-child(2) > * {
    margin: var(--globalPadding);
}

#bookList > div > div:nth-child(2) > * > h2 {
    position: fixed;
}

.book > h4 {
    margin: 0px;
}

#addBookDiv {
    grid-area: 2/4/3/7;
    visibility: hidden;
}


#addBookDiv > form {
    position: fixed;
    padding: var(--globalPadding);
    background-color: var(--bgColorThree);
    border-radius: var(--roundBorder);
    color: var(--lightColor);
}

#addBookDiv > form > h3 {
    text-align: center;
}

#addBookDiv > form > div > div:nth-child(-n+3){
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: var(--globalPadding);
    grid-auto-flow: row;
}

#addBookDiv > form > div > div:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--globalPadding);
}

#addBookDiv > form > div > div > a {
    grid-column: 1/5;
    text-align: center;
    color: var(--lightColor);
}


#addBookDiv > form > div > div > input {
    grid-column: 5/11;
}

#addBookDiv > form > div > div > div > input[type="radio"]{
    margin-left: 0px;
    margin-right: var(--globalPadding);
}

#addBookDiv > form > div > * {
    padding: var(--globalPadding);
    color: var(--lightColor);
}

#addBookDiv > form > div > div:last-child > div {
    display: flex;
    gap: var(--globalPadding);
}
#addBookDiv > form > div:nth-child(3) {
    text-align: center;
    margin-top: var(--globalPadding);
}

#addBookDiv > form > div:nth-child(3) > button {
    color: var(--darkColor);
    border-radius: var(--roundBorder);
}

#addBookDiv > form > div:nth-child(3) > button:hover{
    background-color: var(--bgColorThree);
    color: var(--lightColor);
}

.container > #addBookBtn {
    position: fixed;
    bottom: 100px;
    right: 100px;
    height: 75px;
    width: 75px;
    font-size: 32.5px;
    background-color: var(--bgColorOne);
    color: var(--lightColor);
    border-radius: var(--circleBorder);
    border-color: transparent;
}

.container > #addBookBtn:hover {
    background-color: var(--bgColorTwo);
    animation:spin 0.1s linear;
    animation-fill-mode: forwards;
}

.indentedHoverLight:hover {
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

.indentedHoverDark:hover {
    box-shadow: 0px 0px 2px 1px var(--darkColor) inset;
}


@keyframes spin { 
    100% { 
        -webkit-transform: rotate(45deg); 
        transform:rotate(45deg); 
    } 
}



